@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'kanji';
    /* 任意のフォントファミリー名を設定 */
    src: url('./assets/fonts/ipam.ttc');
    /* TTCファイルへのパスを指定 */
}

@font-face {
    font-family: 'kana';
    /* 使用したいフォント名を指定 */
    src: url('./assets/fonts/HannariMincho-Regular.otf') format('opentype');
    /* 保存したフォントファイルのパスを指定 */
}

.kanji {
    font-family: kanji;
}

.kana {
    font-family: kana;
}

.welcome-image {
    animation: anime 1s 0s;
    z-index: 0;
    opacity: 0;
}

@keyframes anime {
    0% {
        opacity: 1;
        z-index: 10;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
        transform: scale(1.2);
        z-index: 0;
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
        z-index: 0;
    }
}

/* @keyframes hidden-anime {
    0% {
        display: block;
        z-index: 10;
    }

    90% {
        display: block;
        z-index: 10;
    }

    100% {
        display: none;
        z-index: 0;
    }
} */